openapi: 3.0.0
info:
  title: Swagger Freshdesk API V2 - OpenAPI 3.0
  description: |-
    Freshdesk is a cloud-based customer support platform that was founded with the mission of enabling companies of all sizes to provide great customer service.

    Our goal is simple: make it easy for brands to talk to their customers and make it easy for users to get in touch with businesses.

    Freshdesk's APIs belong to the Representational State Transfer (REST) category.

    They allow you to perform 'RESTful' operations such as reading, modifying, adding or deleting data from your helpdesk.

    The APIs also support Cross-Origin Resource Sharing (CORS).
  version: 0.0.1
externalDocs:
  description: API V2 Documentation
  url: https://developers.freshdesk.com/api/#introduction
servers:
- url: https://ccl-consulting.freshdesk.com/api/v2
  description: Production server
security:
- basicAuth: []
tags:
- name: Tickets
  description: A ticket is an issue raised by a requester that need to be solved
- name: Ticket Fields
  description: The custom and default ticket fields in Freshdesk have the following
    properties.
- name: Ticket Forms
  description: Ticket forms allow you to show the right form to your customers depending
    on what they want to contact you about
- name: Ticket Converstations
  description: Ticket conversations are the messages that are exchanged between the
    requester and the agent
- name: Account
  description: See or export account information
- name: Jobs
  description: No Documentation
- name: Contacts
  description: Contacts are the people who are associated with a company
- name: Contacts Fields
  description: The custom and default contact fields in Freshdesk have the following
    properties.
- name: Agents
  description: Agents are the people who are responsible for solving tickets
- name: Skills
  description: |-
    Skills allow you to easily match tickets to the right agents.
    You can associate distinct skills to each agent and create rules to make sure that only tickets matching those skills are assigned to them.
- name: Roles
  description: Roles are the permissions that are assigned to agents
- name: Groups
  description: Groups are the teams that your agents belong to
- name: Admin-Groups
  description: Admin groups are the teams that your agents belong to
- name: Companies
  description: Companies are the organizations that your customers belong to
- name: Companies Fields
  description: The custom and default company fields in Freshdesk have the following
    properties.
- name: Custom Objects
  description: Custom objects are the custom entities that you can create in Freshdesk
- name: Canned Responses
  description: Canned responses are the pre-defined responses that can be used to
    quickly respond to tickets
- name: Discussions
  description: Discussions are the comments that are added to tickets
- name: Solutions
  description: Solutions are the articles that are published in the knowledge base
- name: Surveys
  description: Surveys are the feedback forms that are sent to customers after a ticket
    is resolved
- name: Satisfaction Ratings
  description: Satisfaction ratings are the feedback that customers provide after
    a ticket is resolved
- name: Field Service Management
  description: Field Service Management is a feature that allows you to manage field
    service agents and their schedules
- name: Time Entries
  description: Time entries are the time spent by agents on tickets
- name: Email Configs
  description: Email configurations are the email addresses that are used to receive
    emails
- name: Email Mailboxes
  description: Email mailboxes are the email addresses that are used to receive emails
- name: Products
  description: Products are the items that you sell to your customers
- name: Business Hours
  description: Business hours are the time slots during which your agents are available
    to solve tickets
- name: Scenario Based Automation
  description: Scenario based automation allows you to automate your helpdesk by creating
    rules that trigger actions when certain conditions are met
- name: SLA Policies
  description: SLA policies are the rules that define the response time and resolution
    time for tickets
- name: Omnichannel Activities
  description: Omnichannel activities are the activities that are performed by agents
    on the omnichannel dashboard
- name: Automations
  description: Automations are the rules that are used to automate your helpdesk
- name: Settings
  description: Settings are the configuration options that are used to customize your
    helpdesk
paths:
  /contacts:
    get:
      tags:
      - Contacts
      summary: List all contacts
      description: List all contacts on your freshdesk domain.
      responses:
        "200":
          description: OK
  /contact_fields:
    get:
      tags:
      - Contacts Fields
      summary: List all contacts fields
      description: List all contacts fields
      responses:
        "200":
          description: OK
      security:
      - basicAuth: []
  /settings/helpdesk:
    get:
      tags:
      - Settings
      summary: Settings are configured through the Admin page of the Freshdesk web
        app.
      description: Settings are configured through the Admin page of the Freshdesk
        web app.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: {}
      security:
      - basicAuth: []
  /time_entries:
    get:
      tags:
      - Time Entries
      summary: List all Time entries
      description: List all time entrioes
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Time_Entries'
      security:
      - basicAuth: []
  /tickets/{ticketID}/time_entries:
    post:
      tags:
      - Time Entries
      summary: Create a Time Entry
      description: Create a Time Entry
      parameters:
      - name: ticketID
        in: path
        description: Provide ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
          example: 42
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ticketID_time_entries_body'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Time_Entries'
      security:
      - basicAuth: []
  /time_entries/{timeID}:
    put:
      tags:
      - Time Entries
      summary: Update a Time Entry
      description: Create a Time Entry
      parameters:
      - name: timeID
        in: path
        description: Provide ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
          example: 2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/time_entries_timeID_body'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Time_Entries'
      security:
      - basicAuth: []
    delete:
      tags:
      - Time Entries
      summary: Delete a Time Entry
      description: Create a Time Entry
      parameters:
      - name: timeID
        in: path
        description: Provide ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
          example: 2
      responses:
        "204":
          description: "HTTP Status: 204 No Content"
      security:
      - basicAuth: []
  /time_entries/{timeID}/toggle_timer:
    put:
      tags:
      - Time Entries
      summary: Start/Stop Timer
      description: Start/Stop Timer
      parameters:
      - name: timeID
        in: path
        description: Provide ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
          example: 2
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Time_Entries'
      security:
      - basicAuth: []
  /tickets:
    get:
      tags:
      - Tickets
      summary: List all tickets
      description: List all tickets
      responses:
        "200":
          description: OK
      security:
      - basicAuth: []
  /ticket_fields:
    get:
      tags:
      - Ticket Fields
      summary: List all ticket fields
      description: list all ticket fields
      responses:
        "200":
          description: OK
      security:
      - basicAuth: []
  /ticket-forms:
    get:
      tags:
      - Ticket Forms
      summary: List all ticket forms
      description: |-
        List all ticket forms
        Be carefull: "The Multiple Ticket Forms feature(s) is/are not supported in your plan. Please upgrade your account to use it."
      responses:
        "200":
          description: OK
      security:
      - basicAuth: []
  /account:
    get:
      tags:
      - Account
      summary: View Account
      description: View Account informations
      responses:
        "200":
          description: OK
      security:
      - basicAuth: []
  /jobs/{jobID}:
    get:
      tags:
      - Jobs
      summary: View a job
      description: View a job
      parameters:
      - name: jobID
        in: path
        description: Provide ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Jobs'
      security:
      - basicAuth: []
  /agents:
    get:
      tags:
      - Agents
      summary: View Agents
      description: |-
        View Agents
        "The Skill Based Round Robin feature(s) is/are not supported in your plan. Please upgrade your account to use it."
      responses:
        "200":
          description: OK
      security:
      - basicAuth: []
  /skills:
    get:
      tags:
      - Skills
      summary: List all skills
      description: List all skills
      responses:
        "200":
          description: OK
      security:
      - basicAuth: []
  /roles:
    get:
      tags:
      - Roles
      summary: List all roles
      description: List all roles
      responses:
        "200":
          description: OK
      security:
      - basicAuth: []
  /groups:
    get:
      tags:
      - Groups
      summary: List all groups
      description: List all groups
      responses:
        "200":
          description: OK
      security:
      - basicAuth: []
  /admin/groups:
    get:
      tags:
      - Admin-Groups
      summary: List all Admin-Groups
      description: List all Admin-Groups
      responses:
        "200":
          description: OK
      security:
      - basicAuth: []
  /companies:
    get:
      tags:
      - Companies
      summary: List all Companies
      description: List all Companies
      responses:
        "200":
          description: OK
      security:
      - basicAuth: []
  /company_fields:
    get:
      tags:
      - Companies Fields
      summary: List all Companies Fields
      description: List all Companies Fields
      responses:
        "200":
          description: OK
      security:
      - basicAuth: []
  /canned_response_folders:
    get:
      tags:
      - Canned Responses
      summary: List All Folders
      description: List All Folders
      responses:
        "200":
          description: OK
      security:
      - basicAuth: []
  /discussions/categories:
    get:
      tags:
      - Discussions
      summary: List All Forum Categories
      description: List All Forum Categories
      responses:
        "200":
          description: OK
      security:
      - basicAuth: []
  /solutions/categories:
    get:
      tags:
      - Solutions
      summary: List all Solution Categories
      description: List all Solution Categories
      responses:
        "200":
          description: OK
      security:
      - basicAuth: []
  /surveys:
    get:
      tags:
      - Surveys
      summary: List all Surveys
      description: |-
        List all Surveys
        "message": "The Surveys feature(s) is/are not supported in your plan. Please upgrade your account to use it."
      responses:
        "200":
          description: OK
      security:
      - basicAuth: []
  /surveys/satisfaction_ratings:
    get:
      tags:
      - Satisfaction Ratings
      summary: View all Satisfaction Ratings
      description: |-
        View all Satisfaction Ratings
        "message": "The Surveys feature(s) is/are not supported in your plan. Please upgrade your account to use it."
      responses:
        "200":
          description: OK
      security:
      - basicAuth: []
  /email_configs/{emailID}:
    get:
      tags:
      - Email Configs
      summary: View an Email Config
      description: View an Email Config
      parameters:
      - name: emailID
        in: path
        description: Provide ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
          example: 42
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email_Configs'
      security:
      - basicAuth: []
  /email_configs:
    get:
      tags:
      - Email Configs
      summary: List All Email Configs
      description: List All Email Configs
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email_Configs'
      security:
      - basicAuth: []
  /email/mailboxes:
    get:
      tags:
      - Email Mailboxes
      summary: List All Email Mailboxes
      description: List All Email Mailboxes
      responses:
        "200":
          description: OK
      security:
      - basicAuth: []
  /email/settings:
    get:
      tags:
      - Email Mailboxes
      summary: View Mailbox Settings
      description: View Mailbox Settings
      responses:
        "200":
          description: OK
      security:
      - basicAuth: []
  /notifications/email/bcc:
    get:
      tags:
      - Email Mailboxes
      summary: View Automatic Bcc emails
      description: View Automatic Bcc emails
      responses:
        "200":
          description: OK
      security:
      - basicAuth: []
  /products/{productID}:
    get:
      tags:
      - Products
      summary: View a Product
      description: |-
        View a Product
        "message": "The Multi Product feature(s) is/are not supported in your plan. Please upgrade your account to use it."
      parameters:
      - name: productID
        in: path
        description: Provide ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
          example: 42
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Products'
      security:
      - basicAuth: []
  /products:
    get:
      tags:
      - Products
      summary: List All Products
      description: |-
        List All Products
        "message": "The Multi Product feature(s) is/are not supported in your plan. Please upgrade your account to use it."
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Products'
      security:
      - basicAuth: []
  /business_hours/{businesshoursID}:
    get:
      tags:
      - Business Hours
      summary: View a Business Hour
      description: View a Business Hour
      parameters:
      - name: businesshoursID
        in: path
        description: Provide ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
          example: 42
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Business_Hours'
      security:
      - basicAuth: []
  /business_hours:
    get:
      tags:
      - Business Hours
      summary: List All Business Hours
      description: List All Business Hours
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Business_Hours'
      security:
      - basicAuth: []
  /scenario_automations.json:
    get:
      tags:
      - Scenario Based Automation
      summary: List All Scenario Automations
      description: List All Scenario Automations
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scenario_Automations'
      security:
      - basicAuth: []
  /sla_policies:
    get:
      tags:
      - SLA Policies
      summary: List All SLA Policies
      description: List All SLA Policies
      responses:
        "200":
          description: OK
      security:
      - basicAuth: []
components:
  schemas:
    Tickets:
      type: object
      properties:
        id:
          type: integer
          description: Unique ID of the ticket
          format: int64
          example: 42
    Contact:
      type: object
      properties:
        id:
          type: integer
          description: ID of the contact
          format: int64
          example: 42
        active:
          type: boolean
          description: Set to true if the contact has been verified
        address:
          type: string
          description: Address of the contact
          example: "123, Main Street"
        avatar:
          type: object
          description: Avatar of the contact
        company_id:
          type: integer
          description: ID of the primary company to which this contact belongs
          format: int64
          example: 42
        view_all_tickets:
          type: boolean
          description: Set to true if the contact can see all tickets that are associated
            with the company to which he belong
        custom_fields:
          type: array
          description: Key value pair containing the name and value of the custom
            fields.
          items:
            type: string
        deleted:
          type: boolean
          description: Set to true if the contact has been deleted. Note that this
            attribute will only be present for deleted contacts
        description:
          type: string
          description: A short description of the contact
          example: This is a test contact
        email:
          type: string
          description: "Primary email address of the contact. If you want to associate\
            \ additional email(s) with this contact, use the other_emails attribute"
          example: foo@test.com
        job_title:
          type: string
          description: Job title of the contact
          example: Software Engineer
        language:
          type: string
          description: Language of the contact
          example: en
        mobile:
          type: string
          description: Mobile number of the contact
          example: "1234567890"
        name:
          type: string
          description: Name of the contact
          example: Foo Bar
        other_emails:
          type: array
          description: Additional emails associated with the contact
          items:
            type: string
        phone:
          type: string
          description: Telephone number of the contact
          example: "1234567890"
        tags:
          type: array
          description: Tags associated with this contact
          items:
            type: string
        time_zone:
          type: string
          description: Time zone in which the contact resides
          example: Asia/Kolkata
        twitter_id:
          type: string
          description: Twitter handle of the contact
          example: foo
        unique_external_id:
          type: string
          description: External ID of the contact
          example: "1234567890"
        other_companies:
          type: array
          description: Additional companies associated with the contact
          items:
            type: string
        created_at:
          type: string
          description: Contact creation timestamp
          format: datetime
          example: 2016-07-11T04:40:00Z
        updated_at:
          type: string
          description: Contact updated timestamp
          format: datetime
          example: 2016-07-11T04:40:00Z
    Jobs:
      type: object
      properties:
        jobId:
          type: integer
          format: int64
    Time_Entries:
      type: object
      properties:
        billable:
          type: boolean
        note:
          type: string
          example: Invoice Preparation
        timer_running:
          type: boolean
        id:
          type: integer
          format: int64
          example: 42
        agent_id:
          type: integer
          format: int64
          example: 42
        ticket_id:
          type: integer
          format: int64
          example: 42
        time_spent:
          type: integer
          format: int64
        created_at:
          type: string
          format: datetime
          example: 2015-08-25T07:31:55Z
        updated_at:
          type: string
          format: datetime
          example: 2015-08-25T07:31:55Z
        executed_at:
          type: string
          format: datetime
          example: 2015-08-25T07:31:55Z
        start_time:
          type: string
          format: datetime
          example: 2015-08-25T07:31:55Z
    Email_Configs:
      type: object
      properties:
        active:
          type: boolean
          description: Set to true if the email config is verified and activated
        group_id:
          type: integer
          description: Denotes the group ID to which the email is associated
          format: int64
          example: 42
        id:
          type: integer
          description: Unique ID of the email config
          format: int64
          example: 42
        name:
          type: string
          description: Name of the email config
          example: Primary Email
        primary_role:
          type: boolean
          description: "Set to true if the email associated to a product, is the primary\
            \ email"
        product_id:
          type: integer
          description: Denotes the product ID to which the email is associated
          format: int64
          example: 42
        reply_email:
          type: string
          description: Denotes your support email address
          example: support@domain.freshdesk.com
        to_email:
          type: string
          description: Denotes the email address to which your support emails gets
            forwarded
          example: support@domain.freshdesk.com
        created_at:
          type: string
          description: Email Config creation timestamp
          format: datetime
          example: 2016-07-11T04:40:00Z
        updated_at:
          type: string
          description: Email Config updated timestamp
          format: datetime
          example: 2016-07-11T04:40:00Z
    Products:
      type: object
      properties:
        id:
          type: integer
          description: Unique ID of the product
          format: int64
          example: 42
        name:
          type: string
          description: Name of the product
          example: Freshservice
        description:
          type: string
          description: Description of the product
          example: Support for IT
        created_at:
          type: string
          description: Product creation timestamp
          format: datetime
          example: 2015-07-03T09:08:53+05:30
        updated_at:
          type: string
          description: Product updated timestamp
          format: datetime
          example: 2015-07-03T09:08:53+05:30
    Business_Hours:
      type: object
      properties:
        id:
          type: integer
          description: Unique ID of the business hour
          format: int64
          example: 35000006727
        name:
          type: string
          description: Name of the business hour
          example: Default
        description:
          type: string
          description: Description of the business hour
          example: Default Business Calendar
        time_zone:
          type: string
          description: Denotes the time zone of the business hour
          example: Eastern Time (US & Canada)
        is_default:
          type: boolean
          description: Set to true if this is the default business hour
        business_hours:
          $ref: '#/components/schemas/Business_Hours_business_hours'
        created_at:
          type: string
          format: datetime
          example: 2017-09-21T14:00:50Z
        updated_at:
          type: string
          format: datetime
          example: 2018-11-30T14:13:11Z
    Scenario_Automations:
      type: object
      properties:
        id:
          type: integer
          description: ID of the Scenario
          format: int64
          example: 42
        name:
          type: string
          description: Name of the Scenario
          example: default
        description:
          type: string
          description: A short description about the Scenario
          example: :"Default Business Hour"
        actions:
          type: array
          description: Actions to be performed by the Scenario
          items:
            $ref: '#/components/schemas/Scenario_Automations_actions'
        private:
          type: boolean
          description: Boolean value stating whether the Scenario is accessible to
            self or all
        created_at:
          type: string
          description: Scenario Automations creation timestamp
          format: datetime
          example: 2018-08-16T09:08:53+05:30
        updated_at:
          type: string
          description: Scenario Automations updated timestamp
          format: datetime
          example: 2018-08-16T09:08:53+05:30
    Settings:
      type: object
      properties:
        primary_language:
          type: string
          description: Primary language on your subdomain
        supported_languages:
          type: array
          description: Supported language on your subdomain
          items:
            type: string
        portal_languages:
          type: array
          description: Portal language on your subdomain
          items:
            type: string
    ticketID_time_entries_body:
      type: object
      properties:
        agent_id:
          type: string
          description: The agent to whom this time-entry is associated. One agent
            can have only one timer running. Everything else will be stopped if new
            timer is on for an agent
          example: "42"
        billable:
          type: boolean
          description: Set as true if the entry is billable. Default value is true
        executed_at:
          type: string
          description: Time at which this time-entry id added/created
          example: 2015-08-25T07:31:55Z
        note:
          type: string
          description: Description on this time-entry
          example: Invoice Preparation
        start_time:
          type: string
          description: The time at which the time-entry is added or the time of the
            last invoked "start-timer" action using a toggle
          format: datetime
          example: 2015-08-25T07:31:55Z
        time_spent:
          type: string
          description: The number of hours (in hh:mm format). Used to set the total
            time_spent
          example: 10:40
        timer_running:
          type: boolean
          description: Indicates if the timer is running
    time_entries_timeID_body:
      type: object
      properties:
        agent_id:
          type: string
          description: The agent to whom this time-entry is associated. One agent
            can have only one timer running. Everything else will be stopped if new
            timer is on for an agent
          example: "10"
        billable:
          type: boolean
          description: Set as true if the entry is billable. Default value is true
        executed_at:
          type: string
          description: Time at which this time-entry id added/created
          example: 2015-08-25T07:31:55Z
        note:
          type: string
          description: Description on this time-entry
          example: Invoice Preparation
        start_time:
          type: string
          description: The time at which the time-entry is added or the time of the
            last invoked "start-timer" action using a toggle
          format: datetime
          example: 2015-08-25T07:31:55Z
        time_spent:
          type: string
          description: The number of hours (in hh:mm format). Used to set the total
            time_spent
          example: 10:40
        timer_running:
          type: boolean
          description: Indicates if the timer is running
    Business_Hours_business_hours_monday:
      type: object
      properties:
        start_time:
          type: string
          description: "Time in \"hh:mm:ss a\" format ex: \"08:00:00 am\""
          example: 08:00:00 am
        end_time:
          type: string
          example: 11:59:59 pm
      description: Object of 'start_time' and 'end_time'
    Business_Hours_business_hours_tuesday:
      type: object
      properties:
        start_time:
          type: string
          example: 08:00:00 am
        end_time:
          type: string
          example: 11:59:59 pm
      description: Object of 'start_time' and 'end_time'
    Business_Hours_business_hours:
      type: object
      properties:
        monday:
          $ref: '#/components/schemas/Business_Hours_business_hours_monday'
        tuesday:
          $ref: '#/components/schemas/Business_Hours_business_hours_tuesday'
        wednesday:
          $ref: '#/components/schemas/Business_Hours_business_hours_tuesday'
        thursday:
          $ref: '#/components/schemas/Business_Hours_business_hours_tuesday'
        friday:
          $ref: '#/components/schemas/Business_Hours_business_hours_tuesday'
      description: "Collection of start time and end time of days of a week - 'monday',\
        \ 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'"
    Scenario_Automations_actions:
      type: object
      properties:
        name:
          type: string
          example: ticket_type
        value:
          type: string
          example: Problem
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
